<div class="col-2">
    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" href="/profile" >Dashboard</a>
        <a class="nav-link"   href="/profile/addactivity"   >Log An Activity</a>
    </div>
</div>