<div>
	<h1>Info about this application</h1>
	<p>This application tracks the user's activities and records various statistics behind each activity. The user is able to view metrics about a chosen activity.
	<br>To run this application, download the project file and run it under the installed file directory with the command: <i>$npm start</i>. After the server is connected, go to this address: <u style="color:blue;">localhost:3000</u> to try out the application.
	</p>
	{{name}} {{CWID}} {{email}} 
	<br>Part: {{work}}<br>
</div>